site_name: Thought Archives
site_url: https://MagicBowen.github.io/thought-archives
repo_url: https://github.com/MagicBowen/thought-archives
use_directory_urls: true
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search       
theme:
  name: dracula