site_name: Thought Archives
site_url: https://MagicBowen.github.io/thought-archives
repo_url: https://github.com/MagicBowen/thought-archives
use_directory_urls: true
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search       
theme:
  name: material
  features:
    - toc.integrate
    - search.suggest
    - search.highlight  
  palette:
    - scheme: default
      primary: indigo
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono  
  highlightjs: true
  hljs_languages:
    - python  
    - cpp
    - rust
    - yaml
    - json